{% extends 'main.html' %}

{% block content %}
<div class="container" style="padding-top:10px">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Docente ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for docente in cesun_api %}
        <tr>
          <th scope="row">{{ docente.id_docente }}</th>
          <td>{{ docente.nombre_docente }}</td>
          <td>{{ docente.correo_Personal }}</td>
        </tr>
        {% endfor %}
      </tbody>
</div>

{% endblock content %}